코드 1.1. 평균 제곱 오차 계산

In [ ]:
import numpy as np
# mse_function 함수
def mse_function(y, t):
    return np.sum((y - t) ** 2).mean()
    #return 0.5 * np.sum((y - t) ** 2)

# 정답 데이터
t = [0,0,0,1,0,0,0,0,0,0]

# 모델 출력 값의 예 2개 y1, y2
y1 = [0.01, 0.03, 0.1, 0.8, 0.1, 0.1, 0.02, 0.1, 0.0, 0.01]
y2 = [0.01, 0.03, 0.1, 0.07, 0.1, 0.1, 0.02, 0.1, 0.8, 0.01]

In [ ]:
import matplotlib.pyplot as plt

array = np.arange(0, 1, 0.1)

plt.plot(array, t, c='r', linestyle='--', linewidth=2, alpha=0.8)
plt.plot(array, y2, c='g', linestyle='--', linewidth=2, alpha=0.8)
plt.plot(array, y1, c='b', linestyle='--', linewidth=2, alpha=0.8)

plt.show()

In [ ]:
# y1의 경우 평균 제곱 오차 계산결과 출력
mse1 = mse_function(np.array(y1), np.array(t))
print(mse1)

In [ ]:
# y2의 경우 평균 제곱 오차 계산결과 출력
mse2 = mse_function(np.array(y2), np.array(t))
print(mse2)

In [ ]:
import numpy as np
# mse_function 함수
def mse_function2(y, t):
    return np.sum((y - t) ** 2).mean()
    #return 0.5 * np.sum((y - t) ** 2)

# 정답 데이터
t = [0,0,0,1,0,0,0,0,0,0]

# 모델 출력 값의 예 2개 y1, y2
y1 = [0.01, 0.03, 0.1, 0.8, 0.1, 0.1, 0.02, 0.1, 0.0, 0.01]
y2 = [0.01, 0.03, 0.1, 0.07, 0.1, 0.1, 0.02, 0.1, 0.8, 0.01]

In [ ]:
# y1의 경우 평균 제곱 오차 계산결과 출력
mse1 = mse_function2(np.array(y1), np.array(t))
print(mse1)

In [ ]:
# y2의 경우 평균 제곱 오차 계산결과 출력
mse2 = mse_function2(np.array(y2), np.array(t))
print(mse2)

코드 1.2. 크로스 엔트로피 오차 계산

In [ ]:
#  cee_function 함수
def cee_function(y, t):
    delta = 1e-7
    return -np.sum(t * np.log(y + delta))

#  정답 데이터
t = [0,0,0,1,0,0,0,0,0,0]

# 모델 출력 값의 예 2개 y1, y2
y1 = [0.01, 0.03, 0.1, 0.8, 0.1, 0.1, 0.02, 0.1, 0.0, 0.01]
y2 = [0.01, 0.03, 0.1, 0.07, 0.1, 0.1, 0.02, 0.1, 0.8, 0.01]

In [ ]:
#  y1의 경우 교차 엔트로피 오차 계산결과 출력
see1 = cee_function(np.array(y1), np.array(t))
print(see1)

In [ ]:
#  y2의 경우 교차 엔트로피 오차 계산결과 출력
see2 = cee_function(np.array(y2), np.array(t))
print(see2)